html, body {
  height: 100%;
  
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
  position: relative;
}

#framing-grid {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#hierarchy {
  height: 100%;
  min-width: 15%;
  background-color: rgb(42, 39, 53);
  padding: 10px;
  box-sizing: border-box;
  color: white;
}


#viewport {
  background-color: black;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
}

#toolbar {
  height: 100%;
  min-width: 15%;
  background-color: rgb(41, 41, 41);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
}

#toolbar > div > div > select {
  width: 100%;
}

#toolbar > div {
  height: 150px;
}

#toolbar > div >div {
  height: 20px;
}

#collision-hierarchy {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.collsion-node {
  display: flex;
  gap: 5px;
}

.collsion-node > input[type=color] {
  width: 20px;
  height: 20px;
}


.collsion-node > input[type=range] {
  width: 60px;
  border-radius: 0;
  height: 20px;
}

.collsion-node > button {
  height: 20px;
}