@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


html, body {
  height: 100%;
  font-family: "Poppins", sans-serif;  
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: black;
  position: relative;
}

#framing-grid {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#hierarchy {
  height: 100%;
  min-width: 15%;
  background-color: rgb(42, 39, 53);
  padding: 10px 20px;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#viewport {
  background-color: black;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

#toolbar {
  height: 100%;
  min-width: 17%;
  background-color: rgb(42, 39, 53);
  padding: 10px 20px;
  box-sizing: border-box;
  color: white;
}

#toolbar > div {
  width: 100%;
}

#zoo > div > select {
  width: 100%;
}


#collision-hierarchy {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  height: 150px !important;
  max-height: 150px !important;
  overflow-y: scroll;
  background-color: black;
  box-sizing: border-box;
}

#terrain-hierarchy {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  height: 250px !important;
  max-height: 250px !important;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: black;
}


#collision-hierarchy > div {
width: 100%;
}


#terrain-hierarchy > div {
  width: 100%;
  }

  #terrain-hierarchy > div > button {
  width: 100%;
  }


#placement-hierarchy {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  background-color: black;
  box-sizing: border-box;
}

.collision-node {
  display: flex;
  gap: 5px;
  height: 20px;
}

.collision-node > input[type=color] {
  width: 20px;
  height: 100%;
}


.collision-node > input[type=number] {
  width: 45px;
  height: calc(100% - 5px);
}

.collision-node > button {
  flex-grow: 1;
  height: 100%;
}


.placement-node {
  display: flex;
  gap: 5px;
  width: 100%;
  height: 20px;
}

.placement-node > button {
  width: 100%;
  font-size: 12px;
}